{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DE PLANOS </h2>
<a href="{{ url_for('plan.plan_edit', plan_id=0) }}">
    Adicionar
</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for plan in plans %}
    <tr>
        <td>{{ plan.name }}</td>
        <td>
            <a href="{{ url_for('plan.plan_edit', plan_id=plan.id) }}">
                    <span data-tooltip="Informações">
                        <i class="bi-caret-right fs-6"></i>
                    </span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{url_for('sistema.index')}}">Voltar</a>

</body>
{% endblock %}