flask
flask-sqlalchemy
Mysqlclient
flask_migrate
flask_caching
flask_mail
flask_debugtoolbar
Flask-Login
flask-bcrypt
blinker
flask-wtf
flask-jwt-extended
faker
email_validator
itsdangerous
python-dotenv
gunicorn