{% extends "base.html" %}
{% block title %}Atualizar Senha{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Atualizar Senha</h1>
        <form action="{{ url_for('.change_password') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.old_password.label }}
                {% if form.old_password.errors %}
                {% for e in form.old_password.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.old_password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {% if form.password.errors %}
                {% for e in form.password.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password2.label }}
                {% if form.password2.errors %}
                {% for e in form.password2.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.password2(class_='form-control') }}
            </div>
            <input class="btn btn-primary" type="submit" value="Atualizar">
        </form>
        <hr>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}