{% extends "base.html" %}
{% block body %}
<body>
<div class="container col-11 col-md-11" id="form-container">
    <div class="row align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2>Faça o login para continuar</h2>
            <form action="{{ url_for('.login') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.username(class="form-control") }}
                    <label class="form-label">Digite o nome</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class="form-control") }}
                    <label class="form-label">Digite a sua senha</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Entrar">
                <div class="form-floating mb-3" id="link-new-password">
                    <a href="{{ url_for('auth.password_reset_request') }}">Esqueci minha senha</a>
                </div>
            </form>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="col-12">
                <img alt="Entrar no Sistema" class="img-fluid" src="/static/img/sign_in.svg">
            </div>
            <div class="col-12" id="link-register-user">
                <a href="{{url_for('auth.register')}}">Ainda não tenho cadastro</a>
            </div>
        </div>

    </div>
</div>
</body>
{% endblock %}
