{% extends "base.html" %}
{% block title %}Iniciar Sessão{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">Iniciar Sessão</h1>
        <form action="{{ url_for('.login') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {% if form.username.errors %}
                {% for e in form.username.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.username(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {% if form.password.errors %}
                {% for e in form.password.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.password(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.remember.label }}
                {% if form.remember.errors %}
                {% for e in form.remember.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
                {{ form.remember(class_='form-control') }}
            </div>
            <input class="btn btn-primary" id="login_button" type="submit" value="Acessar">
        </form>

    </div>
    <div class="col-md-4"></div>

</div>
    <br>
    <br>
    <br>
{% endblock %}