{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2>{{ user.username }}</h2>

<ul>
    <li>
        id: {{ user.id }}
    </li>
    <li>
        email: {{ user.email }}
    </li>
    <li>
        ativo: {{ user.active }}
    </li>
    <li>
        empresa:
    </li>
    <li>
        cliente desde: {{ user.member_since }}
    </li>
</ul>

<div class="col-12">
    <a href="{{ url_for('auth.list') }}">
        Voltar
    </a>
    <a href="{{ url_for('auth.edit', id=user.id) }}">
        Atualizar
    </a>
</div>

</body>

{% endblock %}