{% extends "sistema_base.html" %}
{% block body %}
<body>


<h2> LISTA DAS TELAS PARA O PERFIL </h2>


<table class="table">
    <thead>
    <tr>
        <th scope="col">TELAS</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for viewrole in viewroles %}
    <tr>
        <td>{{ viewrole.get_name_view(viewrole.view_id) }}</td>

        {% if viewrole.active == True %}
        <td>
            <a href="{{ url_for('auth.viewrole_active', id=viewrole.id) }}">
                <span data-tooltip="Desativar">
                    <i class="bi-caret-down fs-6"></i>
                </span>
            </a>
        </td>
        {% else %}
        <td>
            <a href="{{ url_for('auth.viewrole_active', id=viewrole.id) }}">
                <span data-tooltip="Ativar">
                    <i class="bi-caret-up fs-6"></i>
                </span>
            </a>
        </td>
        {% endif %}


        {% endfor %}
    </tr>

    </tbody>
</table>

<a href="{{ url_for('auth.role_list') }}">Voltar</a>

</body>
{% endblock %}