{% extends "sistema_base.html" %}
{% block body %}
<body>

    <h2> LISTA DE PLANOS DE MANUTENÇÃO </h2>
    <a href="{{ url_for('plano_manutencao.plano_editar', plano_id=0) }}">
        Adicionar
    </a>

    <input class="form-control" id="myInput" type="text" placeholder="Filtrar.."><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CODIGO</th>
                <th scope="col">NOME</th>
                <th scope="col">ATIVO</th>
                <th scope="col">TIPO</th>
                <th scope="col">PERIODICIDADE</th>
                <th scope="col">EQUIPAMENTO</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody id="myTable">
        {% for plano in planos %}
            <tr>
                <th scope="row">{{ plano.id }}</th>
                <td>{{ plano.codigo }}</td>
                <td>{{ plano.nome }}</td>
                <td>{{ plano.ativo }}</td>
                <td>{{ plano.tipoordem.nome }}</td>
                <td>{{ plano.periodicidade.nome }}</td>
                <td>{{ plano.equipamento.descricao_curta }}</td>
                <td>
                    <a href="{{ url_for('plano_manutencao.plano_editar', plano_id=plano.id) }}">
                            <span data-tooltip="Informações">
                                <i class="bi-caret-right fs-6"></i>
                            </span>
                    </a>
                </td>
                {% if plano.ativo == True %}
                    <td>
                       <a href="{{ url_for('plano_manutencao.plano_ativar', plano_id=plano.id) }}">
                                <span data-tooltip="Desativar">
                                     <i class="bi-hand-thumbs-up fs-6"></i>
                                </span>
                        </a>
                    </td>
                {% else %}
                    <td>
                        <a href="{{ url_for('plano_manutencao.plano_ativar', plano_id=plano.id) }}">
                                <span data-tooltip="Ativar">
                                    <i class="bi-hand-thumbs-down fs-6"></i>
                                </span>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </body>
<script type="text/javascript" src="/static/js/filtro_coluna.js"></script>
{% endblock %}