{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('plano_manutencao.plano_listar') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>


<div class="container">
    <div class="row">
        <div class="col-10">
            {% if plano.id == 0 %}
            <h2>CADASTRO DE PLANO DE MANUTENÇÃO</h2>
            {% else %}
            <h2>PLANO DE MANUTENÇÃO</h2>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <form action="{{ url_for('plano_manutencao.plano_editar', plano_id=plano.id) }}"
                  method="POST">
                {{form.csrf_token}}

                {{form.nome.label}} {{form.nome(size=80)}}<br>
                {{form.codigo.label}} {{form.codigo(size=20)}}
                {{form.cod_automatico.label}} {{form.cod_automatico}}<br>
                {{form.total_tecnico.label}} {{form.total_tecnico}}<br>
                {{form.tempo_estimado.label}} {{form.tempo_estimado}}<br>
                {{form.data_inicio.label}} {{form.data_inicio}}<br>
                {{form.tipoordem.label}} {{form.tipoordem}}<br>
                {{form.tipodata.label}} {{form.tipodata}}
                {{form.cancelamento_data.label}} {{form.cancelamento_data}}<br>
                {{form.periodicidade.label}} {{form.periodicidade}}<br>
                {{form.equipamento.label}} {{form.equipamento}}<br>
                {{form.ativo.label}} {{form.ativo}}<br><br>

                {% if plano.id == 0 %}
                <input type="submit" value="Cadastrar"/><br><br>
                {% else %}
                <input type="submit" value="Atualizar"/><br><br>
                {% endif %}
            </form>
        </div>
    </div>


    {% if plano.id == 0 %}
    <div class="row">
        <div class="col-10">

            <form action="{{ url_for('plano_manutencao.cadastrar_lote_planos_manutencao') }}"
                  enctype="multipart/form-data"
                  method="POST">
                {{ form.file.label }} {{ form.file }}
                <input type="submit" value="Cadastrar"/><br>
            </form>

            <a href="{{ url_for('plano_manutencao.gerar_padrao_planos_manutencao') }}">Gerar Arquivo Base</a>
        </div>
    </div>


    {% else %}
    <div class="row">
        <div class="col-10">

            <h5>LISTA DE ATIVIDADES</h5>
            {% if plano.listaatividade.id %}
            Revisão: #{{plano.revisao}} <br>
            Atualizado em: {{plano.listaatividade.data}} <br>
            {% endif %}

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ITEM</th>
                    <th scope="col">DESCRIÇÃO</th>
                    <th scope="col">TIPO</th>
                    <th>
                        <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="Incluir">
                            <i class="bi-clipboard-plus fs-6"></i>
                        </span>
                        {% include "atividade_incluir.html" %}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for atividade in atividades %}
                <tr>
                    <td>{{ atividade.posicao }}</td>
                    <td>{{ atividade.descricao }}</td>
                    <td>{{ atividade.tipoparametro.nome }}</td>
                    <td>
                        <a href="{{ url_for('plano_manutencao.atividade_editar',plano_id=plano.id,
                listaatividade_id=listaatividade_id, atividade_id=atividade.id, tipo='excluir') }}">
                <span data-tooltip="Excluir">
                    <i class="bi-clipboard-minus fs-6"></i>
                </span>
                        </a>
                    </td>

                    <td>
                        <a href="{{ url_for('plano_manutencao.atividade_editar',plano_id=plano.id,
                listaatividade_id=listaatividade_id, atividade_id=atividade.id, tipo='subir') }}">
                            <span data-tooltip="Subir Posição">
                                <i class="bi-caret-up fs-6"></i>
                            </span>
                        </a>
                    </td>

                    <td>
                        <a href="{{ url_for('plano_manutencao.atividade_editar',plano_id=plano.id,
                listaatividade_id=listaatividade_id, atividade_id=atividade.id, tipo='descer') }}">
                            <span data-tooltip="Descer Posição">
                                <i class="bi-caret-down fs-6"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}

</div>

</body>
<script src="/static/js/bloqueio_campo.js" type="text/javascript"></script>
<script src="/static/js/confirmacao_exclusao.js" type="text/javascript"></script>

{% endblock %}


