{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DE EQUIPAMENTOS </h2>
<a href="{{ url_for('asset.edit', id=0) }}">
    Adicionar
</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">COD</th>
        <th scope="col">DESCRIÇÃO_CURTA</th>
        <th scope="col">TAG</th>
        <th scope="col">GRUPO</th>
        <th scope="col">EMPRESA</th>
        <th scope="col">ATIVO</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for asset in assets %}
    <tr>
        <th scope="row">{{ asset.id }}</th>
        <td>{{ asset.cod }}</td>
        <td>{{ asset.short_description }}</td>
        <td>{{ asset.tag }}</td>
        <td>{{ asset.type_id }}</td>
        <td>{{ asset.company_id }}</td>

        <td>{{ asset.active }}</td>
        <td>
            <a href="{{ url_for('asset.edit', id=asset.id) }}">
                    <span data-tooltip="Informações">
                        <i class="bi-caret-right fs-6"></i>
                    </span>
            </a>
        </td>
        {% if asset.active == True %}
        <td>
            <a href="{{ url_for('asset.active', id=asset.id) }}">
                    <span data-tooltip="Desativar">
                        <i class="bi-caret-down fs-6"></i>
                    </span>
            </a>
        </td>
        {% else %}
        <td>
            <a href="{{ url_for('asset.active', id=asset.id) }}">
                    <span data-tooltip="Ativar">
                        <i class="bi-caret-up fs-6"></i>
                    </span>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>
{% endblock %}