{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DOS SISTEMAS </h2>
<a href="{{ url_for('asset.system_edit', id=0) }}">
    Adicionar
</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col">EQUIPAMENTO</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for system in systems %}
    <tr>
        <td>{{ system.name }}</td>
        <td>{{ system.asset_id }}</td>
        <td>
            <a href="{{ url_for('asset.system_edit', id=system.id) }}">
                    <span data-tooltip="Informações">
                        <i class="bi-caret-right fs-6"></i>
                    </span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('asset.asset_list') }}">Voltar</a>

</body>
{% endblock %}