{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('contrato.contrato_listar') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>


<div class="container">

    <div class="row">
        <div class="col-10">
            <h2>EDITAR CONTRATO</h2>
        </div>
        <div class="col-6">
            <form action="{{ url_for('contrato.contrato_editar', contrato_id=contrato.id) }}" method="POST">
                {{form.csrf_token}}
                {{form.nome.label}} {{form.nome(size=50)}}
                <input type="submit" value="Atualizar"/><br><br><br>
            </form>
        </div>
    </div>


    <a>
        <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR TELA">
            <i class="bi-window fs-4">+</i>
        </span>
        {% include "telacontrato_editar.html" %}
    </a>

    <div class="row">
        <div class="col-4">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">TELAS</th>
                    <th scope="col">EXCLUIR</th>
                </tr>
                </thead>

                <tbody id="tabela_telacontrato">
                {% for telacontrato in telascontrato %}
                <tr>
                    <td>{{ telacontrato.tela.nome }}</td>

                    <td>
                        <a href="{{ url_for('contrato.telacontrato_excluir',
                            telacontrato_id=telacontrato.id,
                            contrato_id=contrato.id) }}" onclick="return deleteItem();">
                                <span data-tooltip="Excluir">
                                      <i class="bi-trash fs-6"></i>
                                </span>
                        </a>
                    </td>

                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">EMPRESA</th>
                    <th scope="col">ATIVA</th>
                </tr>
                </thead>

                <tbody id="tabela_empresa">
                {% for empresa in empresas %}
                <tr>
                    <td>{{ empresa.nome_fantasia }}</td>
                    {% if empresa.ativo == True %}
                    <td>
                        <a href="#">
                <span data-tooltip="Ativa">
                    <i class="bi-hand-thumbs-up fs-6"></i>
                </span>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <a href="#">
                <span data-tooltip="Inativa">
                    <i class="bi-hand-thumbs-down fs-6"></i>
                </span>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


</body>

<script src="/static/js/filtro_coluna.js" type="text/javascript"></script>
<script src="/static/js/confirmacao_exclusao.js" type="text/javascript"></script>
{% endblock %}