{% extends "base.html" %}
{% block body %}

<body>

<section class="mx-4 my-4">
    <div>
        <div class="text-center d-flex flex-column justify-content-center align-items-center py-4 px-2">
            <h1 class="display-1 fw-bold">Uma aplicação com várias ferramentas</h1>
            <p class="fs-5">Uma ferramenta para várias aplicações&nbsp;</p>
        </div>
    </div>
    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center">
        <img class="img-fluid d-xxl-flex align-items-xxl-center ms-0 ps-0" src="static/img/teste.png"
             style="text-align: center;"></div>
</section>

</body>
{% endblock %}