{% extends "sistema_base.html" %}
{% block body %}
    <body>
        <form action="{{ url_for('empresa.business_edit', business_id=business.id) }}" method="POST">
            {{form.csrf_token}}

            {% if business.id == 0 %}
                <h2>Cadastro de Ramo de Negócios</h2>
            {% else %}
                <h2>Ramo de Negócios</h2>
            {% endif %}

            {{form.nome.label}}            {{form.nome(size=20)}}<br>

            {% if business.id == 0 %}
                <input type="submit" value="Cadastrar"/>
            {% else %}
                <input type="submit" value="Atualizar"/>
            {% endif %}


        </form>

    <a href="{{ url_for('empresa.business_list') }}">Voltar</a>

    </body>
{% endblock %}