{% extends "base.html" %}
{% block body %}
    <body>
        <form action="{{ url_for('empresa.empresa_registrar', token=token) }}" method="POST">
            {{form.csrf_token}}

            <h2>Cadastre sua Empresa</h2>

            {{form.nome_fantasia.label}}    {{form.nome_fantasia(size=20)}}<br>
            {{form.cnpj.label}}    {{form.cnpj(size=20)}}<br>
            {{form.cep.label}}    {{form.cep(size=20)}}<br>
            {{form.numero.label}}    {{form.numero(size=20)}}
            {{form.complemento.label}}    {{form.complemento(size=20)}}
            {{form.logradouro.label}}    {{form.logradouro(size=20)}}<br>
            {{form.bairro.label}}    {{form.bairro(size=20)}}
            {{form.municipio.label}}    {{form.municipio(size=20)}}
            {{form.uf.label}}    {{form.uf(size=20)}}<br>

            {{form.email.label}}    {{form.email(size=20)}}<br>
            {{form.telefone.label}}    {{form.telefone(size=20)}}<br>
            {{form.contrato.label}}    {{form.contrato}}<br>

            <input type="submit" value="Cadastrar"/>

        </form>

    <a href="{{ url_for('empresa.empresa_listar') }}">Voltar</a>

    </body>


<script>
cep_select = document.getElementById('cep')
cep_select.onchange = function() {
    var cep = cep_select.value.replace(/\D/g, '');
    //Verifica se campo cep possui valor informado.
        if (cep != "") {
            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

             //Valida o formato do CEP.
            if(validacep.test(cep)) {

                 //Preenche os campos com "..." enquanto consulta webservice.
                 document.getElementById('numero').value="...";
                document.getElementById('complemento').value="...";
                document.getElementById('logradouro').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('municipio').value="...";
                document.getElementById('uf').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);
            }
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        }
        else {
            limpa_formulário_cep();
        }
    }


function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('numero').value="";
        document.getElementById('complemento').value="";
        document.getElementById('logradouro').value="";
        document.getElementById('bairro').value="";
        document.getElementById('municipio').value="";
        document.getElementById('uf').value="";
}

function meu_callback(conteudo) {
    if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.
        document.getElementById('logradouro').value=(conteudo.logradouro);
        document.getElementById('bairro').value=(conteudo.bairro);
        document.getElementById('municipio').value=(conteudo.localidade);
        document.getElementById('uf').value=(conteudo.uf);
    } //end if.
    else {
        //CEP não Encontrado.
        limpa_formulário_cep();
        alert("CEP não encontrado.");
    }
}

</script>

{% endblock %}


