{% extends "base.html" %}
{% block body %}
<body>
<div class="container col-11 col-md-11" id="form-container">
    <div class="row gx-5">
        <div class="col-md-6">
            <h2>Solicite o acesso para a sua empresa</h2>
            <form action="{{ url_for('empresa.solicitar') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.nome_fantasia(class="form-control") }}
                    {{form.nome_fantasia.label}}
                </div>
                <div class="form-floating mb-3">
                    {{ form.cnpj(class="form-control") }}
                    {{form.cnpj.label}}
                </div>
                <div class="form-floating mb-3">
                    {{ form.email(class="form-control") }}
                    {{form.email.label}}
                </div>
                <div class="form-floating mb-3">
                    {{ form.telefone(class="form-control") }}
                    {{form.telefone.label}}
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row align-items-center">
                <div class="col-12">
                    <img alt="Tela de Registro" class="img-fluid" src="/static/img/hello.svg">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}