{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('usuario.usuario_editar', usuario_id=usuario_id) }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>


<div class="container">
    <div class="row">
        <div class="col-9">
            <h2> PERFIS DE MANUTENTOR </h2>
        </div>
    </div>

    <div class="col-2">
        <a>
               <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR PERFIL">
                   <i class="bi-person-square fs-4">+</i>
               </span>
            {% include "perfilmanutentor_editar.html" %}
        </a>
    </div>

    <div class="row">
        <div class="col-4">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">PERFIL</th>
                    <th scope="col">ATIVO</th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody id="myTable">
                {% for perfil in perfismanutentor %}
                <tr>
                    <td>{{ perfil.perfilmanutentor.nome }}</td>

                    <td>
                        <a href="{{ url_for('usuario.perfilmanutentor_excluir',
                        perfilmanutentorusuario_id=perfil.id,
                        usuario_id=usuario_id) }}">
                            <span data-tooltip="Desativar">
                                <i class="bi-trash fs-6"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

</body>

{% endblock %}