{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('usuario.perfilacesso_listar') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>

<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>PERFIL DE ACESSO</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form action="{{ url_for('usuario.perfilacesso_editar', perfilacesso_id=perfilacesso.id) }}" method="POST">
                {{form.csrf_token}}

                {{form.nome.label}} {{form.nome(size=50)}}<br>
                {{form.descricao.label}} {{form.descricao(size=50)}}<br>

                <input type="submit" value="Atualizar"/>
            </form>
        </div>
    </div>

    <br>
    <a>
        <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR TELA">
            <i class="bi-window fs-4">+</i>
        </span>
        {% include "telaperfilacesso_editar.html" %}
    </a>

    <div class="row">
        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">TELAS</th>
                    <th scope="col">EXCLUIR</th>
                </tr>
                </thead>

                <tbody id="myTable">
                {% for telaperfilacesso in telasperfilacesso %}
                <tr>
                    <td>{{ telaperfilacesso.tela.nome }}</td>

                    <td>
                        <a href="{{ url_for('usuario.telaperfilacesso_excluir',
                        telaperfilacesso_id=telaperfilacesso.id,
                        perfilacesso_id=perfilacesso.id) }}" onclick="return deleteItem();">
                            <span data-tooltip="Desativar">
                                <i class="bi-trash fs-6"></i>
                            </span>
                        </a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">USUÁRIO</th>
                    <th scope="col">ATIVO</th>
                </tr>
                </thead>

                <tbody id="tabela_usuarios">
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    {% if usuario.ativo == True %}
                    <td>
                        <a href="#">
                            <span data-tooltip="Ativa">
                                <i class="bi-hand-thumbs-up fs-6"></i>
                            </span>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <a href="#">
                            <span data-tooltip="Inativa">
                                <i class="bi-hand-thumbs-down fs-6"></i>
                            </span>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

</body>

<script src="/static/js/confirmacao_exclusao.js" type="text/javascript"></script>

{% endblock %}