{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('usuario.usuario_editar', usuario_id=usuario_id) }}">Voltar</a>

<h2> LISTA DOS PERFIS PARA O MANUTENTOR </h2>
<a href="{{ url_for('usuario.perfilmanutentorusuario_editar', usuario_id=usuario_id) }}">
    Adicionar
</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">PERFIL</th>
        <th scope="col">ATIVO</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody id="myTable">
    {% for perfil in perfismanutentor %}
    <tr>
        <td>{{ perfil.perfilmanutentor.nome }}</td>

        {% if perfil.ativo == True %}
        <td>
            <a href="{{ url_for('usuario.perfilmanutentorusuario_ativar', perfilmanutentorusuario_id=perfil.id, usuario_id=usuario_id) }}">
                <span data-tooltip="Desativar">
                    <i class="bi-hand-thumbs-up fs-6"></i>
                </span>
            </a>
        </td>
        {% else %}
        <td>
            <a href="{{ url_for('usuario.perfilmanutentorusuario_ativar', perfilmanutentorusuario_id=perfil.id, usuario_id=usuario_id) }}">
                <span data-tooltip="Ativar">
                    <i class="bi-hand-thumbs-down fs-6"></i>
                </span>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


</body>


{% endblock %}