{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('usuario.perfilacesso_editar', perfilacesso_id=perfilacesso_id, usuario_id=usuario_id) }}">Voltar</a>

<h2> LISTA DAS TELAS PARA O PERFIL </h2>
<!--<a href="{{ url_for('usuario.telaperfilacesso_editar', perfilacesso_id=perfilacesso_id, usuario_id=usuario_id) }}">-->
<!--    Adicionar-->
<!--</a>-->

<a>
   <span data-bs-target="#modal" data-bs-toggle="modal">
       <i class="bi-plus-square fs-6"> Incluir</i>
   </span>
    {% include "telaperfilacesso_editar.html" %}
</a>


<input class="form-control" id="myInput" placeholder="Filtrar.." type="text"><br>


<table class="table">
    <thead>
    <tr>
        <th scope="col">TELAS</th>
        <th scope="col">EXCLUIR</th>
    </tr>
    </thead>

    <tbody id="myTable">
    {% for telaperfilacesso in telasperfilacesso %}
    <tr>
        <td>{{ telaperfilacesso.tela.nome }}</td>

        <td>
            <a href="{{ url_for('usuario.telaperfilacesso_excluir', telaperfilacesso_id=telaperfilacesso.id,
            perfilacesso_id=perfilacesso_id,  usuario_id=usuario_id) }}">
                <span data-tooltip="Desativar">
                    <i class="bi-trash fs-6"></i>
                </span>
            </a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
<script src="/static/js/exportar_consulta.js" type="text/javascript"></script>
<script src="/static/js/filtro_coluna.js" type="text/javascript"></script>
{% endblock %}