{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('usuario.usuario_listar') }}">Voltar</a>
<form action="{{ url_for('usuario.usuario_editar', usuario_id=usuario.id) }}" method="POST">
    {{form.csrf_token}}


    <h2>Cadastro do Usuário</h2>

    {{form.nome.label}} {{form.nome(size=50)}}<br>
    {{form.email.label}} {{form.email(size=50)}}<br>

    {{form.perfilacesso.label}} {{form.perfilacesso}}
    <a href="{{ url_for('usuario.perfilacesso_listar', usuario_id=usuario.id) }}">
            <span data-tooltip="Atualizar">
                <i class="bi-caret-down fs-6"></i>
            </span>
    </a> <br>

    {% if ppm %}
    {{form.perfil_manutentor.label}} {{form.perfil_manutentor}}
    {% if usuario.id > 0 %}
    <a href="{{ url_for('usuario.perfilmanutentorusuario_listar', usuario_id=usuario.id) }}">
                <span data-tooltip="Atualizar">
                    <i class="bi-caret-down fs-6"></i>
                </span>
    </a> <br>
    {% endif %}
    {% endif %}

    {{form.ativo.label}} {{form.ativo(size=20)}}<br>

    {% if usuario.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}

</form>


{% if usuario.id == 0 %}
<form action="{{ url_for('usuario.cadastrar_lote_usuarios') }}" enctype="multipart/form-data" method="POST">
    {{ form.file.label }} {{ form.file }}
    <input type="submit" value="Cadastrar_Lote"/>
</form>
<a href="{{ url_for('usuario.gerar_padrao_usuarios') }}">Gerar Arquivo Base</a>
<br>
<br>
{% endif %}

</body>

{% endblock %}


