{% extends "sistema_base.html" %}
{% block body %}
<body>
<form action="{{ url_for('usuario.role_edit', perfil_id=perfil.id) }}" method="POST">
    {{form.csrf_token}}

    {% if perfil.id == 0 %}
        <h2>Cadastro de Perfil</h2>
    {% else %}
        <h2>Perfil</h2>
    {% endif %}

    {{form.nome.label}}    {{form.nome(size=20)}}<br>
    {{form.descricao.label}}    {{form.descricao(size=20)}}<br>
    {{form.empresa.label}}    {{form.empresa}}<br>

    {{form.tela.label}}    {{form.tela}}
    <a href="{{ url_for('usuario.viewrole_list', perfil_id=perfil.id) }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {% if perfil.id == 0 %}
        <input type="submit" value="Cadastrar"/>
    {% else %}
        <input type="submit" value="Atualizar"/>
    {% endif %}

</form>

<a href="{{ url_for('usuario.role_list') }}">Voltar</a>

</body>
{% endblock %}