<!-- Add New Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade"
     id="modal_agrupamento_editar" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Cadastro de Agrupamento</h5>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('equipamento.agrupamento_editar', grupo_id=grupo_id) }}" method="POST">
                    {{form.csrf_token}}

                    {{form.tipo.label}} {{form.tipo}}<br>
                    {{form.nome.label}} {{form.nome(size=20)}}<br>

                    <input type="submit" value="Cadastrar"/>

                </form>
            </div>
        </div>
    </div>
</div>