{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('equipamento.equipamento_listar') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>

<div class="container">
    <div class="row">
        <div class="col-10">
            {% if equipamento.id == 0 %}
            <h2>CADASTRO DE EQUIPAMENTO</h2>
            {% else %}
            <h2>EQUIPAMENTO</h2>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-10">
                <form action="{{ url_for('equipamento.equipamento_editar', equipamento_id_crypto=equipamento.id_criptografado) }}"
                      method="POST">
                    {{form.csrf_token}}

                    Agrupamento:
                    <a onchange="atualizar_subgrupo()">{{form.grupo.label}} {{form.grupo}}</a>

                    {{form.subgrupo.label}} {{form.subgrupo}}
                    <a href="{{ url_for('equipamento.agrupamento_listar',
                    grupo_id_crypto=grupo_id, subgrupo_id_crypto=subgrupo_id) }}">
                        <span data-tooltip="Atualizar">
                            <i class="bi-caret-down fs-6"></i>
                        </span>
                    </a><br>
                    Localização:
                    {{form.setor.label}} {{form.setor}}
                    {{form.local.label}} {{form.local}}
                    {{form.pavimento.label}} {{form.pavimento}}
                    <a href="{{ url_for('equipamento.localizacao_listar') }}">
                        <span data-tooltip="Atualizar">
                            <i class="bi-caret-down fs-6"></i>
                        </span>
                    </a> <br>

                    {{form.cod.label}} {{form.cod(size=50)}}
                    {{form.cod_automatico.label}} {{form.cod_automatico}}<br>
                    {{form.descricao_curta.label}} {{form.descricao_curta(size=80)}}<br>
                    {{form.descricao_longa.label}} {{form.descricao_longa(size=80)}}<br>
                    {{form.fabricante.label}} {{form.fabricante(size=80)}}<br>
                    {{form.marca.label}} {{form.marca(size=80)}}<br>
                    {{form.modelo.label}} {{form.modelo(size=80)}}<br>
                    {{form.ns.label}} {{form.ns(size=80)}}<br>

                    {{form.largura_valor.label}} {{form.largura_valor}}
                    {{form.und_largura.label}}{{form.und_largura}}<br>
                    {{form.comprimento_valor.label}} {{form.comprimento_valor}}
                    {{form.und_comprimento.label}}{{form.und_comprimento}}<br>
                    {{form.altura_valor.label}} {{form.altura_valor}}
                    {{form.und_altura.label}}{{form.und_altura}}<br>
                    {{form.peso_valor.label}} {{form.peso_valor}}
                    {{form.und_peso.label}}{{form.und_peso}}<br>
                    {{form.area_valor.label}} {{form.area_valor}}
                    {{form.und_area.label}}{{form.und_area}}<br>
                    {{form.volume_valor.label}} {{form.volume_valor}}
                    {{form.und_volume.label}}{{form.und_volume}}<br>
                    {{form.vazao_valor.label}} {{form.vazao_valor}}
                    {{form.und_vazao.label}}{{form.und_vazao}}<br>
                    {{form.potencia_valor.label}} {{form.potencia_valor}}
                    {{form.und_potencia.label}} {{form.und_potencia}}<br>
                    {{form.tensao_valor.label}} {{form.tensao_valor}}
                    {{form.und_tensao.label}} {{form.und_tensao}}<br>

                    {{form.data_fabricacao.label}} {{form.data_fabricacao}}<br>
                    {{form.data_aquisicao.label}} {{form.data_aquisicao}}<br>
                    {{form.data_instalacao.label}} {{form.data_instalacao}}<br>
                    {{form.custo_aquisicao.label}} {{form.custo_aquisicao}}<br>
                    {{form.depreciacao.label}} {{form.depreciacao}}<br>
                    {{form.tag.label}} {{form.tag(size=50)}}
                    {{form.tag_automatico.label}} {{form.tag_automatico}}<br>
                    {{form.patrimonio.label}} {{form.patrimonio(size=80)}}<br>
                    {{form.latitude.label}} {{form.latitude(size=80)}}<br>
                    {{form.longitude.label}} {{form.longitude(size=80)}}<br>
                    {{form.centro_custo.label}} {{form.centro_custo(size=80)}}<br>
                    {{form.ativo.label}} {{form.ativo(size=20)}}<br>
                    <br>
                    {% if equipamento.id == 0 %}
                    <input type="submit" value="Cadastrar"/><br>
                    {% else %}
                    <input type="submit" value="Atualizar"/><br>
                    {% endif %}

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                {% if equipamento.id == 0 %}
                <form action="{{ url_for('equipamento.cadastrar_lote_equipamentos') }}" enctype="multipart/form-data"
                      method="POST">
                    {{ form.file.label }} {{ form.file }}
                    <input type="submit" value="Cadastrar"/>
                </form>
                <br>
                <a href="{{ url_for('equipamento.gerar_padrao_equipamentos') }}">Gerar Arquivo Base</a>
                {% endif %}
            </div>
        </div>

    </div>
</div>

</body>

<script src="/static/js/atualizar_agrupamento.js" type="text/javascript"></script>

{% endblock %}


