{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('sistema.index') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>


<div class="container">
    <div class="row">
        <div class="col-10">
            <h2> LISTA DE EQUIPAMENTOS </h2>
        </div>

        <div class="col-4">
            <input class="form-control" id="myInput" placeholder="Filtrar.." type="text"><br>
        </div>

        <div class="col-1">
            <a href="{{ url_for('equipamento.equipamento_editar', equipamento_id_crypto=0) }}">
               <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR EQUIPAMENTO">
                   <i class="bi-robot fs-4">+</i>
               </span>
            </a>
        </div>

        <div class="col-1">
            <a href="{{ url_for('equipamento.localizacao_listar') }}">
               <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR LOCALIZACAO">
                   <i class="bi-globe2 fs-4">+</i>
               </span>
            </a>
        </div>

        <div class="col-1">
            <a href="{{ url_for('equipamento.agrupamento_listar', grupo_id_crypto=0, subgrupo_id_crypto=0) }}">
               <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR AGRUPAMENTO">
                   <i class="bi-bounding-box fs-4">+</i>
               </span>
            </a>
        </div>

        <div class="col-1">
            <a href="{{ url_for('equipamento.gerar_csv_equipamentos') }}">
                <span data-tooltip="GERAR CSV">
                    <i class="bi-download fs-4"></i>
                </span>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">COD</th>
                    <th scope="col">DESCRIÇÃO_CURTA</th>
                    <th scope="col">SUBGRUPO</th>
                    <th scope="col">GRUPO</th>
                    <th scope="col">TAG</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody id="myTable">
                {% for equipamento in equipamentos %}
                <tr>
                    <th scope="row">{{ equipamento.cod }}</th>
                    <td>{{ equipamento.descricao_curta }}</td>
                    <td>{{ equipamento.subgrupo.nome }}</td>
                    <td>{{ equipamento.subgrupo.grupo.nome }}</td>
                    <td>{{ equipamento.tag }}</td>
                    <td>
                        <a href="{{ url_for('equipamento.equipamento_excluir', equipamento_id_crypto=equipamento.id_criptografado) }}"
                           onclick="return deleteItem();">
                            <span data-tooltip="Excluir">
                               <i class="bi-trash fs-6"></i>
                            </span>
                        </a>
                    </td>
                    {% if equipamento.ativo == True %}
                    <td>
                        <a href="{{ url_for('equipamento.equipamento_ativar', equipamento_id_crypto=equipamento.id_criptografado) }}">
                            <span data-tooltip="Desativar">
                               <i class="bi-hand-thumbs-up fs-6"></i>
                            </span>
                        </a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{{ url_for('equipamento.equipamento_ativar', equipamento_id_crypto=equipamento.id_criptografado) }}">
                            <span data-tooltip="Ativar">
                                <i class="bi-hand-thumbs-down fs-6"></i>
                            </span>
                        </a>
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('equipamento.equipamento_editar', equipamento_id_crypto=equipamento.id_criptografado) }}">
                            <span data-tooltip="Informações">
                                <i class="bi-caret-right fs-6"></i>
                            </span>
                        </a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

</body>


{% endblock %}