<!-- Add New Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade"
     id="modal_grupo_editar" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('equipamento.grupo_editar',
                grupo_id=grupo['grupo'].id,
                subgrupo_id=subgrupo_id) }}"
                      method="POST">
                    {{form_grupo.csrf_token}}

                    <label class="col-form-label" for="nome"></label>

                    Nome Atual: {{ grupo['grupo'].nome }}<br>
                    Nome Novo: {{form_grupo.nome(size=20)}}<br>
                    <input type="submit" value="Atualizar"/>
                </form>
            </div>
        </div>
    </div>
</div>
