{% extends "sistema_base.html" %}
{% block body %}
<body>
<form action="{{ url_for('equipamento.grupo_editar', grupo_id=grupo.id, subgrupo_id=subgrupo_id, equipamento_id=equipamento_id) }}"
      method="POST">
    {{form.csrf_token}}

    {% if grupo.id == 0 %}
    <h2>Cadastro de Grupo de Equipamentos</h2>
    {% else %}
    <h2>Grupo de Equipamentos</h2>
    {% endif %}
    {{form.nome.label}} {{form.nome(size=80)}}<br>
    {{form.ativo.label}} {{form.ativo(size=20)}}<br>

    {% if grupo.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">SUBGRUPO</th>
            <th scope="col">ATIVO</th>
        </tr>
        </thead>

        <tbody id="myTable">
        {% for subgrupo in subgrupos %}
        <tr>
            <td>{{ subgrupo.nome }}</td>
            {% if subgrupo.ativo == True %}
            <td>
                <a href="#">
                <span data-tooltip="Ativa">
                    <i class="bi-hand-thumbs-up fs-6"></i>
                </span>
                </a>
            </td>
            {% else %}
            <td>
                <a href="#">
                <span data-tooltip="Inativa">
                    <i class="bi-hand-thumbs-down fs-6"></i>
                </span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endif %}

</form>

{% if grupo.id == 0 %}
<br>
<br>
<form action="{{ url_for('equipamento.cadastrar_lote_grupos', subgrupo_id=subgrupo_id, equipamento_id=equipamento_id) }}"
      enctype="multipart/form-data"
      method="POST">
    {{ form.file.label }} {{ form.file }}
    <input type="submit" value="Cadastrar"/>
</form>

<a href="{{ url_for('equipamento.gerar_padrao_grupos',  subgrupo_id=subgrupo_id, equipamento_id=equipamento_id) }}">Gerar
    Arquivo Base</a>
<br>
<br>
{% endif %}


<a href="{{ url_for('equipamento.grupo_listar', subgrupo_id=subgrupo_id, equipamento_id=equipamento_id) }}">Voltar</a>
</body>
{% endblock %}