{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('equipamento.local_listar', equipamento_id=equipamento_id) }}">Voltar</a>

<form action="{{ url_for('equipamento.local_editar', local_id=local.id, equipamento_id=equipamento_id) }}"
      method="POST">
    {{form.csrf_token}}

    {% if local.id == 0 %}
    <h2>Cadastro do Local</h2>
    {% else %}
    <h2>Local</h2>
    {% endif %}

    {{form.nome.label}} {{form.nome(size=80)}}<br>
    {{form.sigla.label}} {{form.sigla(size=20)}}<br>

    {% if local.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}

</form>



</body>
{% endblock %}