{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DE LOCAIS </h2>
<a href="{{ url_for('equipamento.local_editar', local_id=0, localizacao_id=localizacao_id, equipamento_id=equipamento_id) }}">
    Adicionar
</a>

<input class="form-control" id="myInput" placeholder="Filtrar.." type="text"><br>
<button onclick="exportar_lista('locais.csv', 0)" type="button"> Exportar Lista</button>

<table class="table">
    <thead>
    <tr>
        <th scope="col">NOME</th>
        <th scope="col">SIGLA</th>
        <th scope="col">SETOR</th>
    </tr>
    </thead>

    <tbody id="myTable">
    {% for local in locais %}
    <tr>
        <td>{{ local.nome }}</td>
        <td>{{ local.sigla }}</td>
        <td>{{ local.setor.nome }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('equipamento.localizacao_editar', localizacao_id=localizacao_id, equipamento_id=equipamento_id) }}">Voltar</a>

</body>
<script src="/static/js/exportar_consulta.js" type="text/javascript"></script>
<script src="/static/js/filtro_coluna.js" type="text/javascript"></script>
{% endblock %}