{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('equipamento.pavimento_listar', equipamento_id=equipamento_id) }}">Voltar</a>

<form action="{{ url_for('equipamento.pavimento_editar', pavimento_id=pavimento.id, equipamento_id=equipamento_id) }}"
      method="POST">
    {{form.csrf_token}}

    {% if pavimento.id == 0 %}
    <h2>Cadastro do Pavimento</h2>
    {% else %}
    <h2>Pavimento</h2>
    {% endif %}

    {{form.nome.label}} {{form.nome(size=80)}}<br>
    {{form.sigla.label}} {{form.sigla(size=20)}}<br>

    {% if pavimento.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}

</form>


</body>
{% endblock %}