<!-- Add New Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade"
     id="modal_setor_editar" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Atualizar Setor</h5>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('equipamento.setor_editar', setor_id=setor.id) }}"
                      method="POST">
                    {{form_setor.csrf_token}}

                    Nome Atual: {{ setor.nome }}<br>
                    Nome Novo: {{ form_setor.nome}}<br>

                    Sigla Atual: {{ setor.sigla }}<br>
                    Sigla Novo: {{ form_setor.sigla }}<br>

                    <input type="submit" value="Atualizar"/>
                </form>
            </div>
        </div>
    </div>
</div>