{% extends "sistema_base.html" %}
{% block body %}
<body>
<a href="{{ url_for('equipamento.setor_listar', equipamento_id=equipamento_id) }}">Voltar</a>
<form action="{{ url_for('equipamento.setor_editar', setor_id=setor.id, equipamento_id=equipamento_id) }}"
      method="POST">
    {{form.csrf_token}}

    {% if setor.id == 0 %}
    <h2>Cadastro de Setor</h2>
    {% else %}
    <h2>Setor</h2>
    {% endif %}

    {{form.nome.label}} {{form.nome(size=80)}}<br>
    {{form.sigla.label}} {{form.sigla(size=20)}}<br>

    {% if setor.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>

    {% endif %}

</form>


</body>
{% endblock %}