{% extends "sistema_base.html" %}
{% block body %}
    <body>

    <h2> LISTA DOS FORNECEDORES </h2>
    <a href="{{ url_for('supplier.supplier_edit', id=0) }}">
        Adicionar
    </a>

    <input class="form-control" id="myInput" type="text" placeholder="Filtrar.."><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">NOME</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody id="myTable">
            {% for supplier in suppliers %}
                <tr>
                    <td>{{ supplier.nome }}</td>
                    <td>
                        <a href="{{ url_for('supplier.supplier_edit', id=supplier.id) }}">
                            <span data-tooltip="Informações">
                                <i class="bi-caret-right fs-6"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{url_for('sistema.index')}}">Voltar</a>

    </body>
<script type="text/javascript" src="/static/js/filtro_coluna.js"></script>
{% endblock %}