{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DE RAMOS DE NEGÓCIOS </h2>
<a href="{{ url_for('company.business_edit', business_id=0) }}">
    Adicionar
</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for business in businesss %}
    <tr>
        <td>{{ business.name }}</td>
        <td>
            <a href="{{ url_for('company.business_edit', business_id=business.id) }}">
                    <span data-tooltip="Informações">
                        <i class="bi-caret-right fs-6"></i>
                    </span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('company.company_list') }}">Voltar</a>

</body>
{% endblock %}