{% extends "sistema_base.html" %}
{% block body %}
<body>
<form action="{{ url_for('company.company_edit', id=company.id) }}" method="POST">
    {{form.csrf_token}}

    {% if company.id == 0 %}
    <h2>Cadastro de Empresa</h2>
    {% else %}
    <h2>Empresa</h2>
    {% endif %}

    {{form.business.label}}
    {{form.business}}
    <a href="{{ url_for('company.business_list') }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {{form.subbusiness.label}}
    {{form.subbusiness}}
    <a href="{{ url_for('company.subbusiness_list') }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {{form.name.label}}
    {{form.name(size=20)}}<br>

    {{form.cnpj.label}}
    {{form.cnpj(size=20)}}<br>

    {{form.cep.label}}
    {{form.cep(size=20)}}<br>

    {{form.email.label}}
    {{form.email(size=20)}}<br>

    {{form.active.label}}
    {{form.active(size=20)}}<br>

    {% if company.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}


</form>

<a href="{{ url_for('company.company_list') }}">Voltar</a>

</body>


<script>
business_select = document.getElementById('business');
subbusiness_select = document.getElementById('subbusiness');
business_select.onchange = function() {
    business_id = business_select.value;
    fetch('/system/company/subbusiness_list_option/' + business_id).then(function(response) {
        response.json().then(function(data) {
            optionHTML = '';
            for (subbusiness of data.subbusiness_list) {
                optionHTML += '<option value="' + subbusiness.id +'">' + subbusiness.name + '</option>'
            }
            subbusiness_select.innerHTML = optionHTML;
        });
    });
    }













</script>

{% endblock %}


