{% extends "sistema_base.html" %}
{% block body %}
<body>
<form action="{{ url_for('company.company_edit', company_id=company.id) }}" method="POST">
    {{form.csrf_token}}

    {% if company.id == 0 %}
    <h2>Cadastro de Empresa</h2>
    {% else %}
    <h2>Empresa</h2>
    {% endif %}




    {{form.name.label}}
    {{form.name(size=20)}}<br>

    {{form.cnpj.label}}
    {{form.cnpj(size=20)}}<br>

    {{form.cep.label}}
    {{form.cep(size=20)}}<br>

    {{form.numero.label}}    {{form.numero(size=20)}}
    {{form.complemento.label}}    {{form.complemento(size=20)}}
    {{form.logradouro.label}}    {{form.logradouro(size=20)}}<br>
    {{form.bairro.label}}    {{form.bairro(size=20)}}
    {{form.municipio.label}}    {{form.municipio(size=20)}}
    {{form.uf.label}}    {{form.uf(size=20)}}<br>

    {{form.email.label}}
    {{form.email(size=20)}}<br>

    {{form.active.label}}
    {{form.active(size=20)}}<br>

    {{form.business.label}}
    {{form.business}}
    <a href="{{ url_for('company.business_list') }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {{form.subbusiness.label}}
    {{form.subbusiness}}
    <a href="{{ url_for('company.subbusiness_list') }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {{form.plan.label}}
    {{form.plan}}
    <a href="{{ url_for('plan.plan_list') }}">
        <span data-tooltip="Atualizar">
            <i class="bi-caret-down fs-6"></i>
        </span>
    </a> <br>

    {% if company.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}


</form>

<a href="{{ url_for('company.company_list') }}">Voltar</a>

</body>


<script>
business_select = document.getElementById('business');
subbusiness_select = document.getElementById('subbusiness');
business_select.onchange = function() {
    business_id = business_select.value;
    fetch('/system/company/subbusiness_list_option/' + business_id).then(function(response) {
        response.json().then(function(data) {
            optionHTML = '';
            for (subbusiness of data.subbusiness_list) {
                optionHTML += '<option value="' + subbusiness.id +'">' + subbusiness.name + '</option>'
            }
            subbusiness_select.innerHTML = optionHTML;
        });
    });
    }



cep_select = document.getElementById('cep')
cep_select.onchange = function() {
    var cep = cep_select.value.replace(/\D/g, '');
    //Verifica se campo cep possui valor informado.
        if (cep != "") {
            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

             //Valida o formato do CEP.
            if(validacep.test(cep)) {

                 //Preenche os campos com "..." enquanto consulta webservice.
                 document.getElementById('numero').value="...";
                document.getElementById('complemento').value="...";
                document.getElementById('logradouro').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('municipio').value="...";
                document.getElementById('uf').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);
            }
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        }
        else {
            limpa_formulário_cep();
        }
    }


function limpa_formulário_cep() {
        //Limpa valores do formulário de cep.
        document.getElementById('numero').value="";
        document.getElementById('complemento').value="";
        document.getElementById('logradouro').value="";
        document.getElementById('bairro').value="";
        document.getElementById('municipio').value="";
        document.getElementById('uf').value="";
}

function meu_callback(conteudo) {
    if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.
        document.getElementById('logradouro').value=(conteudo.logradouro);
        document.getElementById('bairro').value=(conteudo.bairro);
        document.getElementById('municipio').value=(conteudo.localidade);
        document.getElementById('uf').value=(conteudo.uf);
    } //end if.
    else {
        //CEP não Encontrado.
        limpa_formulário_cep();
        alert("CEP não encontrado.");
    }
}

</script>

{% endblock %}


