{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> INTERESSADOS </h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">CNPJ</th>
        <th scope="col">NOME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">TELEFONE</th>
        <th scope="col">DATA SOLICITAÇÃO</th>
        <th scope="col">DATA CADASTRO</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for lead in leads %}
    <tr>
        <th scope="row">{{ lead.cnpj }}</th>
        <td>{{ lead.name }}</td>
        <td>{{ lead.email }}</td>
        <td>{{ lead.telefone }}</td>
        <td>{{ lead.data_solicitacao }}</td>
        <td>{{ lead.data_cadastro }}</td>

        {% if lead.data_cadastro == None %}
            <td>
                <a href="{{ url_for('company.enviar_link', lead_id=lead.id) }}">
                        <span data-tooltip="Enviar Link">
                            <i class="bi-caret-right fs-6"></i>
                        </span>
                </a>
            </td>
         {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{url_for('sistema.index')}}">Voltar</a>

</body>
{% endblock %}