{% extends "sistema_base.html" %}
{% block body %}
<body>

<h2> LISTA DE SUB-RAMOS DE NEGÓCIOS </h2>
<a href="{{ url_for('company.subbusiness_edit', id=0) }}">
    Adicionar
</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">NAME</th>
        <th scope="col">RAMO_NEGÓCIOS</th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for subbusiness in subbusinesss %}
    <tr>
        <td>{{ subbusiness.name }}</td>
        <td>{{ subbusiness.business_id }}</td>
        <td>
            <a href="{{ url_for('company.subbusiness_edit', id=subbusiness.id) }}">
                    <span data-tooltip="Informações">
                        <i class="bi-caret-right fs-6"></i>
                    </span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('company.company_list') }}">Voltar</a>

</body>
{% endblock %}