{% extends "sistema_base.html" %}
{% block body %}
<body>
<form action="{{ url_for('company.subbusiness_edit', id=subbusiness.id) }}" method="POST">
    {{form.csrf_token}}

    {% if subbusiness.id == 0 %}
    <h2>Cadastro de Sub-Ramo de Negócios</h2>
    {% else %}
    <h2>Sub-Ramo de Negócio</h2>
    {% endif %}

    {{form.name.label}}
    {{form.name(size=20)}}<br>

    {{form.business.label}}
    {{form.business}}<br>

    {% if subbusiness.id == 0 %}
    <input type="submit" value="Cadastrar"/>
    {% else %}
    <input type="submit" value="Atualizar"/>
    {% endif %}

</form>

<a href="{{ url_for('company.subbusiness_list') }}">Voltar</a>

</body>
{% endblock %}