<!-- Add New Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal"
     id="modal_atividade_preencher" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{ordem.tiposituacaoordem.texto_atual}}</h5>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button">
                </button>
            </div>

            <div class="modal-body">
                <form action="{{ url_for('plano_manutencao.listaatividade_editar',ordem_id_crypto=ordem.id_criptografado,
               listaatividade_id=listaatividade_id, tramitacao_sigla='CONC') }}"
                      id="form_atividade" method="POST" onsubmit="return coletar_valores_atividade();">
                    {{form_atividade.csrf_token}}
                    {{form_listaatividade.csrf_token}}


                    {% if atividades%}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ITEM</th>
                            <th scope="col">DESCRIÇÃO</th>
                            <th scope="col">VALOR</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">

                        {% for atividade in atividades %}
                        <tr>
                            <td> {{atividade.posicao}}</td>
                            <td> {{atividade.descricao}}</td>
                            {% if atividade.tipoparametro.nome == 'BINÁRIO' %}
                            <td> {{form_atividade.valorbinario_id}}</td>
                            {% elif atividade.tipoparametro.nome == 'INTEIRO' %}
                            <td> {{form_atividade.valorinteiro}}</td>
                            {% elif atividade.tipoparametro.nome == 'DECIMAL' %}
                            <td> {{form_atividade.valordecimal}}</td>
                            {% elif atividade.tipoparametro.nome == 'TEXTO' %}
                            <td> {{form_atividade.valortexto}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    {% endif %}

                    {% if ordem.tiposituacaoordem.sigla == 'AGEX'%}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"><h6>TRAMITAÇÃO:</h6></th>
                            <th scope="col"><h6>OBSERVAÇÕES:</h6></th>
                        </tr>
                        </thead>

                        <tbody id="myTable2">
                        <tr>
                            <td>
                                <input id="valores" name="valores" type="hidden" value="">
                                <button class="btn btn-info" type="submit">CONCLUIR</button>
                            </td>
                            <td> {{form_listaatividade.observacao}}</td>
                        </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </form>


                <table class="table">

                    <tbody id="myTable3">
                    {% for nova_t in novas_tramitacoes %}
                    {% if not nova_t.sigla == 'CONC' %}

                    <form action="{{ url_for('ordem_servico.tramitacao', ordem_id_crypto=ordem.id_criptografado,
                    tipo_situacao_id_crypto=nova_t.id_criptografado) }}"
                          id="form_atividade_2" method="POST" onsubmit="return coletar_valores_atividade(true);">
                        {{form_listaatividade.csrf_token}}
                        <tr>
                            <td>
                                <button class="btn btn-info" type="submit">{{ nova_t.nome }}</button>
                            </td>

                            <td> {{form_listaatividade.observacao}}</td>
                        </tr>
                    </form>

                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>

</div>

{% if form_atividade.errors %}


{% endif %}
