{% extends "sistema_base.html" %}
{% block body %}
<body>

<a href="{{ url_for('sistema.index') }}">
    <span data-tooltip="VOLTAR">
        <i class="bi-backspace fs-6"></i>
    </span>
</a>


<div class="container">
    <div class="row">
        <div class="col-10">
            <h2> LISTA DE ORDENS DE SERVIÇOS </h2>
        </div>

        <div class="col-4">
            <input class="form-control" id="myInput" placeholder="Filtrar.." type="text"><br>
        </div>

        {% if lib_solicitante %}
        <div class="col-1">
            <a>
               <span data-bs-target="#modal" data-bs-toggle="modal" data-tooltip="INCLUIR ORDEM DE SERVIÇO">
                   <i class="bi-wrench-adjustable-circle fs-4">+</i>
               </span>
            </a>
            {% include "ordem_servico_incluir.html" %}
        </div>
        {% endif %}

        <div class="col-1">
            <a href="{{ url_for('ordem_servico.gerar_csv_ordens') }}">
                <span data-tooltip="GERAR CSV">
                    <i class="bi-download fs-4"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">DESCRIÇÃO</th>
                    <th scope="col">EQUIPAMENTO</th>
                    <th scope="col">TIPO</th>
                    <th scope="col">SITUAÇÃO</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">RESERVIÇO</th>
                    <th scope="col">DATA ABERTURA</th>
                    <th scope="col">DATA PREVISTA</th>
                    <th scope="col">DATA FECHAMENTO</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="myTable">

                {% for ordem in ordens %}
                <tr>
                    <th scope="row">{{ ordem.codigo }}</th>
                    <td>{{ ordem.descricao }}</td>
                    <td>{{ ordem.equipamento.descricao_curta }}</td>
                    <td>{{ ordem.tipoordem.sigla }}</td>
                    <td>{{ ordem.tiposituacaoordem.sigla }}</td>
                    <td>{{ ordem.tipostatusordem.sigla }}</td>

                    {% if ordem.reservico %}
                    <td>
                        <i class="bi-emoji-frown-fill fs-6"></i>
                    </td>
                    {% else %}
                    <td>
                        <i class="bi-emoji-smile fs-6"></i>
                    </td>
                    {% endif %}

                    <td>{{ ordem.data_abertura }}</td>
                    <td>{{ ordem.data_prevista }}</td>
                    <td>{{ ordem.data_fechamento }}</td>
                    <td>
                        <a href="{{ url_for('ordem_servico.ordem_editar', ordem_id_crypto=ordem.id_criptografado) }}">
                            <span data-tooltip="Informações">
                                <i class="bi-caret-right fs-6"></i>
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>


</div>

</body>


{% endblock %}