{% extends "sistema_base.html" %}
{% block body %}
    <body>
        <form action="{{ url_for('ordem_servico.ordem_editar', ordem_id=ordem.id) }}" method="POST">
            {{form.csrf_token}}

            {% if ordem.id == 0 %}
                <h2>Cadastro de Ordens de Serviços</h2>
                {{form.descricao.label}}        {{form.descricao(size=80)}}<br>
                {{form.tipo.label}}    {{form.tipo}}<br>
                {{form.equipamento.label}}    {{form.equipamento}}<br>
                <input type="submit" value="Cadastrar"/>

            {% else %}
                <h2>Ordem de Serviço</h2>
                Código:          {{ ordem.codigo }}<br>
                Descrição:       {{ ordem.descricao }}<br>
                Tipo de Ordem:            {{ ordem.tipoordem.nome}}<br>
                Equipamento:     {{ ordem.equipamento.descricao_curta}}<br>
                Localização:     {{ ordem.equipamento.localizacao}}<br>
                Solicitante:     {{ ordem.usuario.nome }}<br>
                Data Abertura:   {{ ordem.data_abertura }}<br>
                Data Fechamento: {{ ordem.data_fechamento }}<br>
                Status Atual:    {{ ordem.situacaoordem.nome }}<br>
            {% endif %}

        </form>
        <br>

        {% if not ordem.situacaoordem.nome == "Fiscalizada" and ordem.id > 0%}
            <div class="container mb-4">
                <button class="btn btn-info" type="button" data-bs-toggle="modal"
                          data-bs-target="#modal">
                    NOVA TRAMITAÇÃO
                </button>
                {% include "tramitacao.html" %}
              </div>
        {% endif %}

        <h6>TRAMITAÇÕES</h6>
        <input class="form-control" id="myInput" type="text" placeholder="Filtrar.."><br>
        <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SITUAÇÃO</th>
                        <th scope="col">DATA </th>
                        <th scope="col">USUÁRIO</th>
                        <th scope="col">OBSERVAÇÃO</th>

                    </tr>
                </thead>

                 <tbody id="myTable">
                {% for tramitacao in tramitacoes %}
                    <tr>
                        <th scope="row">{{ tramitacao.situacaoordem.sigla }}</th>
                        <td>{{ tramitacao.data }}</td>
                        <td>{{ tramitacao.usuario.nome }}</td>
                        <td>{{ tramitacao.observacao }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <br><br>
        <a href="{{ url_for('ordem_servico.ordem_listar') }}">Voltar</a>


    </body>

<script type="text/javascript" src="/static/js/filtro_coluna.js"></script>

{% endblock %}


