<!-- Add New Modal -->
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal"
     id="modal_atividade_preencher" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Tramitação</h5>
                <button aria-label="Close" class="btn-close"
                        data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('ordem_servico.tramitacao', ordem_id=ordem.id) }}" method="POST">
                    {{form.csrf_token}}

                    {{ form_tramitacao.tiposituacaoordem.label }} {{ form_tramitacao.tiposituacaoordem }}<br>
                    {{ form_tramitacao.observacao.label }} {{ form_tramitacao.observacao }}<br>

                    <input type="submit" value="Salvar"/>
                </form>
            </div>
        </div>
    </div>

</div>


{% if form.errors %}

<script>$('#modal').modal('show');</script>

{% endif %}