body {
  background: #F3F4F5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background: #86A789;
  border-bottom: 5px solid #739072;
  font-size: 0.8vw;
}
.navbar-brand.span {
  color: white;
  font-weight: bold;
}
.navbar-brand.span:hover {
  color: #4F6F52;
}

.nav-link{
  color: white;
  font-weight: bold;
}
.nav-link:hover{
 color: #4F6F52;
}


.dropdown-menu {
  background: #d2e3c8;
}

.dropdown.a {
  color: white;
  font-weight: bold;
}

.dropdown.a:hover {
  color: #4F6F52;
}


footer {
  background: #86A789;
  position: relative;
  margin-top: auto;
}


#sidebar {
  background-color: #86A789;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 5px;
  overflow-x: hidden;
  padding: 8px 0;

}

#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  font-size: 0.8vw;
  display: block;
}

.top-buffer {
    margin-top:20px;
}

#system {
  margin-left: 170px;
  padding: 0px 10px;
  font-size: 12px;
  font-size: 0.8vw;
}

@media screen and (max-height: 600px) {
  #sidebar {width: 100px}
  #sidebar {padding-top: 15px;}
  #sidebar a {font-size: 5px;}
  #system {margin-left: 100px}
  #system {font-size: 5px;}
}









/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}





/*
.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}*/

